body {
  background: var(--color-gray-300);
}

.button-group {
  margin: 0 auto;
  width: max-content;
}

button {
  border: 0;
  width: 80px;
  height: 50px;
  margin: 5px 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.red:hover {
  background: var(--color-red-500);
  color: #ffffff;
}

.red:active {
  background: var(--color-red-600);
  color: #ffffff;
}

.orange:hover {
  background: var(--color-yellow-600);
  color: #ffffff;
}

.yello:hover {
  background: var(--color-yellow-400);
  color: #ffffff;
}

.green:hover {
  background: var(--color-green-700);
  color: #ffffff;
}

.blue:hover {
  background: var(--color-blue-300);
  color: #ffffff;
}

.indigo:hover {
  background: var(--color-blue-800);
  color: #ffffff;
}

.purple:hover {
  background: var(--color-purple-400);
  color: #ffffff;
}